swagger: '2.0'
info:
  title: Loliboo API
  version: "1.0.0"
# the domain of the service
host: ec2-54-93-123-90.eu-central-1.compute.amazonaws.com
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
produces:
  - application/json
paths:
  /registration:
    post:
      summary: Registration
      tags:
        - User
      description: |
        The registration endpoint registers new user.
        
      parameters:
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserRegistrationModel'
      responses:
        200:
          description: Returns nothing
        400:
          description: User with this email already exist
          schema:
            $ref: '#/definitions/Error'
  /login:
    post:
      tags:
        - User
      description: |
        The login endpoint logins user
      parameters:
        - name: model
          in: body
          required: true
          schema: 
             $ref: '#/definitions/UserLoginModel'
      responses:
        200:
          description: Returns nothing
        400:
          schema:
            $ref: '#/definitions/Error'
          description: Invalid email or password
  /changeCredentials:
    post:
      summary: Changes Credentials
      description: Allows User to change his Credentials (such as Email and Password)
      parameters:
        - name: model
          in: body
          description: Only OldPassword is required
          schema: 
             $ref: '#/definitions/UserChangeCredentialsModel'
      tags:
        - User
      responses:
        200:
          description: Changes either email, password or both
        400:
          description: Incorrect password or user with this email already exist
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
        - LolibooAuth: []
  /getUser:
    post:
      summary: Returns User
      description: Returns information about the User requested by Email
      tags:
        - User
      parameters:
        - name: model
          in: body
          schema: 
            $ref: '#/definitions/UserOnlyEmailModel'
          description: Email of the User
          required: true
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/UserToSendModel'
        400:
          description: User with this email doesn't exist
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /myProfile:
    get:
      summary: Returns current User
      description: Returns information about the current User
      tags:
        - User
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/UserToSendModel'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /logOff:
    get:
      summary: Logs off
      description: Logs User off
      tags:
        - User
      responses:
        200:
          description: Logged off
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /changeInfo:
    post:
      summary: Changes Info
      description: Allows the user to change his information besides Email and Password
      parameters:
        - name: model
          in: body
          description: Only Email is required
          schema:
            $ref: '#/definitions/UserChangeInfoModel'
      tags:
        - User
      responses:
        200:
          description: Changed info for the user
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
        - LolibooAuth: []
  /addProject:
    post:
      summary: Adds new project
      description: Adds new project & adds creator in project as member
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/AddProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns id of created project
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
        - LolibooAuth: []
  /getMyProjects:
    get:
      summary: Returns projects of user
      description: Returns projects of user
      tags:
        - Project
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/GetProjectArray'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /changeProject:
    post:
      summary: Allows to change project
      description: Allows to change properties of a particular project
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/ChangeProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /deleteProject:
    post:
      summary: Removes project
      description: Removes project
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeleteProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /inviteUserToProject:
    post:
      summary: Invites user to project
      description: Sends invitation from project to user
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/InviteUserToProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /acceptInvitation:
    post:
      summary: Invites user to project
      description: Sends invitation from project to user
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/AcceptInvitationModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /rejectInvitation:
    post:
      summary: Rejects invitation
      description: Rejects invitation
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/RejectInvitationModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /getAllInvitations:
    get:
      summary: Returns all invitations to user
      description: Returns all invitations to user
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
          schema:
            $ref: '#/definitions/InvitationArray'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []
  /deleteUserFromProject:
    post:
      summary: Removes user from project
      description: Removes user from project
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/DeleteUserFromProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []      
  /getProject:
    post:
      summary: Get project by id
      description: Get project by id
      parameters:
        - name: model
          required: true
          in: body
          schema:
            $ref: '#/definitions/GetProjectModel'
      tags:
        - Project
      responses:
        200:
          description: Returns nothing
          schema:
            $ref: '#/definitions/ProjectToSendModel'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
       - LolibooAuth: []        
securityDefinitions:
  LolibooAuth:
    type: basic
    description: Authentication using black magic
definitions:
  UserChangeCredentialsModel:
    type: object
    properties:
      NewEmail:
        type: string
      OldPassword:
        type: string
      NewPassword:
        type: string
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  UserToSendModel:
    type: object
    properties:
      Email: 
        type: string
      Name:
        type: string
  UserRegistrationModel:
    type: object
    properties:
      Email:
        type: string
      Name:
        type: string
      Password:
        type: string  
  UserChangeInfoModel:
    type: object
    properties:
      Name:
        type: string
  UserLoginModel:
    type: object
    properties:
      Password:
        type: string
      Email:
        type: string
  UserOnlyEmailModel:
    type: object
    properties:
      Email:
        type: string
  AcceptInvitationModel:
    type: object
    properties:
      ProjectId:
        type: string
      UserEmail:
        type: string
  AddProjectModel:
    type: object
    properties:
      Name: 
        type: string
      UserEmail: 
        type: string
  ChangeProjectModel:
    type: object
    properties:
      ProjectId:
        type: string
      Name:
        type: string
  DeleteProjectModel:
    type: object
    properties:
      ProjectId:
        type: string
  DeleteUserFromProjectModel:
    type: object
    properties:
      UserEmail:
        type: string
      ProjectId:
        type: string
  GetProjectModel:
    type: object
    properties:
      ProjectId:
        type: string
  InvitationModel:
    type: object
    properties:
      ProjectId:
        type: string
  InviteUserToProjectModel:
    type: object
    properties:
      EmailRecipient:
        type: string
      ProjectId:
        type: string
  ProjectToSendModel:
    type: object
    properties:
      ProjectId:
        type: string
      Name:
        type: string
  RejectInvitationModel:
    type: object
    properties:
      ProjectId:
        type: string
      UserEmail:
        type: string
  GetProjectArray:
    type: array
    items:
       $ref: '#/definitions/ProjectToSendModel'
  InvitationArray:
    type: array
    items:
      $ref: '#/definitions/InvitationModel'