# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Loliboo API
  version: "1.0.0"
# the domain of the service
host: ec2-54-93-123-90.eu-central-1.compute.amazonaws.com
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
produces:
  - application/json
paths:
  /registration:
    post:
      summary: Registration
      description: |
        The registration endpoint registers new user.
        
      parameters:
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserRegistrationModel'
      responses:
        200:
          description: Returns nothing
        400:
          description: User with this email already exist
          schema:
            $ref: '#/definitions/Error'
  /login:
    post:
      description: |
        The login endpoint logins user
      parameters:
        - name: model
          in: body
          required: true
          schema: 
             $ref: '#/definitions/UserLoginModel'
      responses:
        200:
          description: Returns nothing
        400:
          schema:
            $ref: '#/definitions/Error'
          description: Invalid email or password
  /changeCredentials:
    post:
      summary: Changes Credentials
      description: Allows User to change his Credentials (such as Email and Password)
      parameters:
        - name: model
          in: body
          description: Only OldPassword is required
          schema: 
             $ref: '#/definitions/UserChangeCredentialsModel'
      tags:
        - User
      responses:
        200:
          description: Changes either email, password or both
        400:
          description: Incorrect password or user with this email already exist
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
        - LolibooAuth: []
  /getUser:
    post:
      summary: Returns User
      description: Returns information about the User requested by Email
      tags:
        - User
      parameters:
        - name: model
          in: body
          schema: 
            $ref: '#/definitions/UserOnlyEmailModel'
          description: Email of the User
          required: true
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/UserToSendModel'
        400:
          description: User with this email doesn't exist
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /myProfile:
    get:
      summary: Returns current User
      description: Returns information about the current User
      tags:
        - User
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/UserToSendModel'
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /logOff:
    get:
      summary: Logs off
      description: Logs User off
      tags:
        - User
      responses:
        200:
          description: Logged off
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
      security: 
       - LolibooAuth: []
  /changeInfo:
    post:
      summary: Changes Info
      description: Allows the user to change his information besides Email and Password
      parameters:
        - name: model
          in: body
          description: Only Email is required
          schema:
            $ref: '#/definitions/UserChangeInfoModel'
      tags:
        - User
      responses:
        200:
          description: Changed info for the user
        401:
          description: Authorization has been denied for this request
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
      security: 
        - LolibooAuth: []
securityDefinitions:
  LolibooAuth:
    type: basic
    description: Authentication using black magic
definitions:
  UserChangeCredentialsModel:
    type: object
    properties:
      NewEmail:
        type: string
      OldPassword:
        type: string
      NewPassword:
        type: string
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  UserToSendModel:
    type: object
    properties:
      Email: 
        type: string
      Name:
        type: string
  UserRegistrationModel:
    type: object
    properties:
      Email:
        type: string
      Name:
        type: string
      Password:
        type: string  
  UserChangeInfoModel:
    type: object
    properties:
      Name:
        type: string
  UserLoginModel:
    type: object
    properties:
      Password:
        type: string
      Email:
        type: string
  UserOnlyEmailModel:
    type: object
    properties:
      Email:
        type: string